<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        
        
        <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Scripts/media/css/jquery.dataTables.css" rel="stylesheet" />
        <link href="~/Scripts/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Scripts/fancybox-download/css/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="~/Styles/sweetalert.css" rel="stylesheet" />
       

        <link href="~/Content/Site.css" rel="stylesheet" />
@*            <link href="~/Content/css/CustomProject.css" rel="stylesheet" />*@

       @* @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

@*    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/media/js/dataTables.bootstrap.min.js"></script>*@
        <script src="~/Scripts/fancybox-download/js/libs/jquery-1.7.1.min.js"></script>

        <script src="~/Scripts/media/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/media/js/dataTables.bootstrap.min.js"></script>
        <script src="~/Scripts/fancybox-download/js/fancybox/jquery.fancybox.pack.js"></script>
        <script src="~/Scripts/sweetalert.min.js"></script>
        <script src="~/Scripts/SITWebCarrier.js"></script>
        


  
    </head>
    <body>
   

        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("แจกงานให้ บ.ขนส่ง", "getsap_document_assig", "Carrier")</li>
                            <li>@Html.ActionLink("บ.ขนส่ง แจ้งทะเบียน คนขับ", "getsend_carrier_assig", "Carrier")</li>
                            <li>@Html.ActionLink("ตรวจสอบข้อมูล", "getsap_document_confirm", "Carrier")</li>
                            <li>@Html.ActionLink("ระบบบันทึกเวลาการแตะบัตรและรายงานตัว","getsap_document_additem", "Carrier")</li>
                            <li>@Html.ActionLink("บอร์ด","getsap_document_broad", "Carrier")</li>
                        </ul>
                    </nav>

                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("getUser", "getUser", "Carrier")</li>
                            <li>@Html.ActionLink("getTruck", "getTruck", "Carrier")</li>
                            <li>@Html.ActionLink("getDriver", "getDriver", "Carrier")</li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @*<footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>*@

       @* @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryDataTable")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
